services:
  backend:
    build: ./backend
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    volumes:
      - ./mainData:/mainData:ro

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: andomo3/safetransit-frontend:dev
    platform: linux/amd64
    working_dir: /app
    command: npm run dev -- --host 0.0.0.0 --port 3000
    ports:
      - "3000:3000"
    environment:
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
